{% extends "app_base.html" %}
{% block content %}
<h3> SEARCH DATABASE </h3> 
<form action="searchDB" method="POST">
  ItemId: <input type="text" name="itemId" id="itemId"> <br>
  Category: <input type="text" name="category" id="category"><br>
  Price: <input type="int" name="currently" id="currently"> <br>
  Description: <input type="text" name="description" id="description"><br>
  Status: <input type="text" name="status" id="status"><br>
  <input type="submit" value="SEARCH">
  <!--<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Status: </label>
  <div class="col-10">
    <input class="form-control" type="submit" value="SEARCH">
  </div>-->
<!--</div>-->
</form>

{% if idnotint %}
  <h3>PLEASE ENTER INTEGER ID</h3>
    


{% elif idnotint %}
  <h3>PLEASE ENTER INTEGER ID</h3>
    


{% elif message %}
  <h4>{{message}}</h4>
    

{% elif result %}
</center>
<h3>Result</h3>
  {% for listitem in result %}
    <ul>
    {% for item in listitem %}
        <li>
            <p>{{ item }}</p>
            <p>{{ listitem[item] }}</p>
        </li>
    {% endfor %}
    </ul>
    <h3>--------------------------------------------</h3>
  {% endfor %}
{% endif %}
<!--{% if message %}
<h3>Result</h3>
<div class="alert alert-success">{{ message }}</div>
{% endif %}-->


{% endblock %}