{% extends "app_base.html" %}
{% block content %}
<h3> SEARCH DATABASE </h3> 
<form action="searchDB" method="POST">
  ItemId: <input type="number" name="itemId" id="itemId"> <br>
  Category: <input type="text" name="category" id="category"><br>
  Price: <input type="int" name="currently" id="currently"> <br>
  Description: <input type="text" name="description" id="description"><br>
  Status: <input type="text" name="status" id="status"><br>
  <input type="submit" value="SEARCH">
</form>
</center>

{% if idnotint %}
  <h3>PLEASE ENTER INTEGER ID</h3>
    
</center>

{% elif idnotint %}
  <h3>PLEASE ENTER INTEGER ID</h3>
    
</center>

{% elif message %}
  <h3>Result is EMPTY</h3>
    
</center>

{% elif result %}
	<h3>Result</h3>
    <ul>
    {% for item in result %}
        <li>
            <p>{{ item }}</p>
            <p>{{ result[item] }}</p>
        </li>
    {% endfor %}
    </ul>
</center>
{% endif %}
<!--{% if message %}
<h3>Result</h3>
<div class="alert alert-success">{{ message }}</div>
{% endif %}-->


{% endblock %}